/*  */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23856d;
  color: #ffffff;
  padding: 9px 2px 3px;
}

.banner-container div {
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.number-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
