.hero {
  margin: 80px 147px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.lower {
  margin-top: 10px;
  display: flex;
  gap: 16px;
}

.img3,
.img4 {
  width: 100%;
  object-fit: cover;
}
